{% extends "workorder/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

<!-- create two columns -->
<div class="d-flex justify-content-between mt-4 mb-4">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% else %}
        <button class="btn btn-outline-secondary" disabled>Previous</button>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a class="btn btn-outline-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
    {% else %}
        <button class="btn btn-outline-secondary" disabled>Next</button>
    {% endif %}
</div>
<div class="mt-5 p-3 card " >
    <h4 class="mb-4"><strong>{{day_productivity.date}} Values</strong></h4>
    <!-- nice percetages cards next to each other -->
    <div class="mb-3 d-flex justify-content-around">
        <div class="card" style="flex: 1; margin: 0 10px;">
            <div class="card-body text-center">
                <h5 class="card-title">Pieces Produced</h5>
                <div class="row">
                    <div class="col-6">
                        <p class="card-text mb-1 ml-4 text-left">Bottles</p>
                        <p class="card-text mb-1 ml-4 text-left">Repl.</p>
                        <p class="card-text mb-1 ml-4 text-left">Foils</p>
                        <p class="card-text mb-1 ml-4 text-left">Tubes</p>
                    </div>
                    <div class="col-6">
                        <p class="card-text mb-1 mr-4 text-right"><strong>{{day_productivity.total_produced_bottle}}</strong></p>
                        <p class="card-text mb-1 mr-4 text-right"><strong>{{day_productivity.total_produced_replenishment}}</strong></p>
                        <p class="card-text mb-1 mr-4 text-right"><strong>{{day_productivity.total_produced_foil}}</strong></p>
                        <p class="card-text mb-1 mr-4 text-right"><strong>{{day_productivity.total_produced_tube}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="flex: 1; margin: 0 10px;max-width: 220px;">
            <div class="card-body text-center">
                <h5 class="card-title">Productivity</h5>
                <div class="row">
                    <div class="col-2">
                        
                    </div>
                    <div class="col-10">
                        <p class="card-text mb-1 mr-4 text-right"><strong>{{day_productivity.productivity_bottle}}%</strong></p>
                        <p class="card-text mb-1 mr-4 text-right"><strong>{{day_productivity.productivity_replenishment}}%</strong></p>
                        <p class="card-text mb-1 mr-4 text-right"><strong>{{day_productivity.productivity_foil}}%</strong></p>
                        <p class="card-text mb-1 mr-4 text-right"><strong>{{day_productivity.productivity_tube}}%</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="flex: 1; margin: 0 10px;max-width: 220px;">
            <div class="card-body text-center">
            <h5 class="card-title">Earned Hours</h5>
            <h1 class="card-text pt-4">{{ day_productivity.earned_hours }}</h1>
            </div>
        </div>
        <div class="card" style="flex: 1; margin: 0 10px; max-width: 220px;">
            <div class="card-body text-center">
            <h5 class="card-title">Available Hours</h5>
            <h1 class="card-text pt-4">{{ day_productivity.available_hours }}</h1>
            </div>
        </div>
        <div class="card" style="flex: 1; margin: 0 10px;max-width: 220px;">
            <div class="card-body text-center">
            <h5 class="card-title">Daily Productivity</h5>
            <h1 class="card-text pt-4">{{day_productivity.productivity}}%</h1>
            </div>
        </div>
        
    </div>
    <div class="m-4">
        <div class="d-flex align-items-center justify-content-center"  style="height: 200px;width: 100%;">
            <canvas style="height: 200px;width: 100%;" id="myChart" ></canvas>
        </div>
    </div>
    
        
</div>

<div class="mt-5 p-3 card " >
    
    <!-- table -->
    <table class="table table-hover">
        <thead class="">
            <tr>
                <th>Item</th>
                <th>Qty</th>
                <th>PPH</th>
                <th>Hrs To Prod</th>
                <th>Ppl To Prod</th>
                <th>Inline Earned Hrs</th>
                <th>Inline Prod</th>
                <th>Hrs To Setup</th>
                <th>Ppl To Setup</th>
                <th>Setup Earned Hours</th>
                <th>Setup Prod</th>
                <th>Total Prod</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td style="max-width: 230px;" class="text-truncate">
                    {{ item.item }}<br>
                    <small class="text-secondary"><i>Std</i></small>
                </td>
                <td>
                    {{ item.qty_produced }}
                </td>
                <td>
                    {{ item.pph }}<br>
                    <small class="text-secondary"><i>{{ item.item.pph }}</i></small>
                </td>
                <td>
                    {{ item.produced_time }}<br>
                    <small class="text-secondary"><i>{{ item.std_hours }}</i></small>
                </td>
                <td>
                    {{ item.people_inline }}<br>
                    <small class="text-secondary"><i>{{ item.item.people_inline }}</i></small>
                </td>
                <td>
                    {{ item.inline_earned_hours }}
                </td>
                <td>
                    {{ item.productivity_inline }}%
                </td>
                <td>
                    {{ item.setup_time }}<br>
                    <small class="text-secondary"><i>{{ item.item.setup_time }}</i></small>
                </td>
                <td>
                    {{ item.setup_people }}<br>
                    <small class="text-secondary"><i>{{ item.item.setup_people }}</i></small>
                </td>
                <td>
                    {{ item.setup_earned_hours }}
                </td>
                <td>
                    {{ item.productivity_setup|default:"-" }}{% if item.productivity_setup != None %}%{% endif %}
                </td>
                <td>
                    {{ item.productivity_total }}%
                </td>
                <td>{{ item.item.kind }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>



<!-- dynamic charts js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script>
    Chart.register(ChartDataLabels);
    
    const ctx = document.getElementById('myChart').getContext('2d');
    
    // Create the chart
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ status_kpi_dates|safe }},
            datasets: [{
                label: 'Productivity',
                data: {{ status_kpi_values|safe }},
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1,
                pointRadius: 0,
            },
            {
                label: 'Goal',
                data: new Array({{ status_kpi_dates|length }}).fill(80),
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1,
                borderDash: [10, 5],
                pointRadius: 0,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    min: 0,
                    max: 180,
                    ticks: {
                        callback: function(value) {
                            return value + '%'; // add percentage sign 
                        }
                    }
                }
            },
            plugins: {
                datalabels: {
                    anchor: 'end',
                    align: 'top',
                    color: 'black',
                    formatter: function(value, context) {
                        if (context.dataset.label === 'Goal') {
                            return '';
                        }
                        return value + '%';
                    }
                }
            },
        }
    });
</script>
        
    



{% endif %}

{% endblock content %}
