{% extends "workorder/tabs_nav.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}


<div class="d-flex justify-content-between align-items-center">
    <input type="text" id="searchBox" class="form-control text-center" placeholder="Search" style="width: 50%;" oninput="filterskus()">
    <div class="d-flex justify-content-between align-items-center">
        <a href="{% url 'workorder-add-standard' %}" class="btn btn-outline-primary">Create Standard Item</a>
    </div>
</div>
<!-- table for each item standard -->
<table class="table table-hover m-4 p-4">
    <thead style="position: sticky; top: 50px; z-index: 1; background-color: #fafafa;">
        <tr>
            <th style="width: 10%; text-align: center;">SKU</th>
            <th style="width: 20%; text-align: center;">Description</th>
            <th style="width: 7%; text-align: center;">Kind</th>
            <th style="width: 7%; text-align: center;">Formula</th>
            <th style="width: 7%; text-align: center;">PPH</th>
            <th style="width: 7%; text-align: center;">People Inline</th>
            <th style="width: 7%; text-align: center;">Setup Time</th>
            <th style="width: 7%; text-align: center;">Setup People</th>
            <th style="width: 7%; text-align: center;">Line Setup</th>
            <th style="width: 20%; text-align: center;">Notes</th>
            <th style="width: 7%; text-align: center;">Points</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="sku">
            <td><a href="{% url 'workorder-update-standard' item.id %}">{{ item.sku|default:"-" }}</a></td>
            <td>{{ item.description|truncatechars:25|default:"-" }}</td>
            <td class="text-center">{{ item.get_kind_display|default:"-" }}</td>
            <td class="text-center">{{ item.get_formula_display|default:"-" }}</td>
            <td class="text-center">{{ item.pph|default:"-" }}</td>
            <td class="text-center">{{ item.people_inline|default:"-" }}</td>
            <td class="text-center">{{ item.setup_time|default:"-" }}</td>
            <td class="text-center">{{ item.setup_people|default:"-" }}</td>
            
            <!-- if it has an image then green tick -->
            {% if item.image %}
            <td class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
                    <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                </svg>
            </td>
            
            {% else %}
            <td></td>
            {% endif %}
            <td class="text-center"><small>{{ item.notes|default:"" }}</small></td>
            <td class="text-center">{{ item.points|default:"-" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function filterskus() {
        
    var input = document.getElementById("searchBox");
    var filter = input.value.toUpperCase().trim();
    var skus = document.getElementsByClassName("sku");
    var firstVisiblesku = null;

    for (var i = 0; i < skus.length; i++) {
        var sku = skus[i];
        var skuText = sku.innerText.toUpperCase().trim();

        if (skuText.indexOf(filter) > -1) {
            sku.style.display = "";
            if (!firstVisiblesku) {
                firstVisiblesku = sku;
            }
        } else {
            sku.style.display = "none";
        }
    }

    // Automatically click the first visible sku if it exists
    if (firstVisiblesku) {
        const workorderItem = firstVisiblesku.querySelector('.workorder-item');
        if (workorderItem) {
            workorderItem.click();
        }
    }
    
    
}
    
</script>                

        
    



{% endif %}

{% endblock content %}
