{% extends "blog/base.html" %}
{% block maincontent %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-9">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-3">
            
        
    
            
    </div>
      
    </div>
  </main>
{% endblock maincontent %}
