{% extends "users/base.html" %}
{% block maincontent %}
<style>
   .overlay-content {
      position: absolute;
      
    }
</style>
<main role="main" class="container">
    <div class="row">
      <div class="col-md-6">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      {% if title == 'Dashboard' %}
      {% else %}
        <div class="col-md-2">
            
        </div>
      {% endif %}
    </div>
  </main>
{% endblock maincontent %}
